name: Python package

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      max-parallel: 5
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: prepare
      run: |
        python3 -m pip install --upgrade pip
        pip install .[dev]
    - name: linter (flake8)
      run: flake8
    - name: test (pytest)
      run: |
        if [ "${{ matrix.python-version }}" = "3.12" ]; then
          export COVERAGE_CORE=sysmon
        fi
        pytest
    - name: build
      run: python3 -m build --sdist --wheel
    - name: install
      run: python3 -m pip install --user dist/*.whl
    - name: test (installed)
      run: |
        tracefiles --help
        tar -tvf dist/tracefiles*.tar.gz | grep LICENSE
        tar -tvf dist/tracefiles*.tar.gz | grep README.md
